{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="jumbotron" style="text-align: center;">
	<h1>About</h1>
	<hr/>
	<p>
		In 2013, Jared Zoneraich and Paras Modi created ClassMatch to make the process of finding classmates for next year more efficient and easier! ClassMatch is a website that enables you to quickly and easily find your classmates for the upcoming year!
	</p>
	</br>
	<p>
		In 2014, John Lim forked the project and modified to fit Ramapo High School's AB schedule style. It was renamed to 'RamapoClassMatch' to avoid confusion with original ClassMatch.
	</p>
</div>
{% endblock %}