<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
		<style type="text/css">
		div.sticky-footer{
		  color: white;
		  
		  text-shadow:
			/* Simulated effect for Firefox and Opera
			   and nice enhancement for WebKit */
		   -1px -1px 0 #000,  
			1px -1px 0 #000,
		   -1px  1px 0 #000,
			1px  1px 0 #000;
		}
		</style>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.2/typeahead.bundle.min.js"></script>
		<script>
			$(function () {
			$("[data-toggle='tooltip']").tooltip();
			});
		</script>
		
		<title>{% block title %}{% endblock %} - RamapoClassMatch</title>
		
		<meta name="og:type" content="website"/>
		<meta name="og:url" content="http://ramapoclass.appspot.com/"/>
		<meta name="og:image" content="http://i.imgur.com/rvxR6SB.jpg"/>
		<meta name="og:site_name" content="RamapoClassMatch"/>
		<meta name="og:description" content="ClassMatch is a service that allows you to input your schedule and find your classmates! "/>
		
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-50870895-1', 'ramapoclass.appspot.com');
		ga('require', 'displayfeatures');
		ga('send', 'pageview');
		</script>
	</head>
	<body >
		<div class="wrapper">
			<div class="navbar navbor-top">
			<div class="container">
				<div class="navbar-header" >
					<a class="navbar-brand" href="/"><b>RamapoClassMatch</b></a>
				</div>
				<ul class="nav navbar-nav">
					{% if signed_in %}
						<li {% if schedule %}class="active"{% endif %}><a href="/schedule">My Schedule</a></li>
						<li {% if findclass %}class="active"{% endif %}><a href="/findclassmates">Find Classmates</a></li>
						<li {% if account %}class="active"{% endif %}><a href="/account">My Account</a></li>
					{% endif %}
					<li {% if about %}class="active"{% endif %}><a href="/about">About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if signed_in %}
						<li> <a href="/logout" class="btn btn-info">Logout</a> </li>
					{% else %}
						<li> <a href="/signup" class="btn btn-default">Sign Up</a> </li>
						<li> <a href="/signin" class="btn btn-info">Sign In</a> </li>
					{% endif %}
				</ul>
			</div>
			</div>
			<div class="container" >
				{% block content %}{% endblock %}
			</div>
			<div class="push"></div>
		</div>
		<div class="sticky-footer">
			<p>Created by <a href="http://imjaredz.com" style="color: rgb(0,255,0)">Jared Zoneraich</a> and <a style="color: rgb(0,255,0)"> Paras Modi</a>. Modified and customized by <a style="color: rgb(0,255,0)">John Lim</a> for Ramapo High School.</p>
		</div>

		<script type="text/javascript">
		{% block script %}{% endblock %}
		</script>
	</body>
</html>