{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block content %}
<script type="text/javascript">
	{% if all_courses %}
	$(document).ready(function(){
	
	var substringMatcher = function(strs) {
	  return function findMatches(q, cb) {
		var matches, substringRegex;
	 
		// an array that will be populated with substring matches
		matches = [];
	 
		// regex used to determine if a string contains the substring `q`
		substrRegex = new RegExp(q, 'i');
	 
		// iterate through the pool of strings and for any string that
		// contains the substring `q`, add it to the `matches` array
		$.each(strs, function(i, str) {
		  if (substrRegex.test(str)) {
			// the typeahead jQuery plugin expects suggestions to a
			// JavaScript object, refer to typeahead docs for more info
			matches.push({ value: str });
		  }
		});
	 
		cb(matches);
	  };
	};
	$('.coursename').typeahead('destroy').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 1
	},
	{
	  name: 'states',
	  displayKey: 'value',
	  source: substringMatcher({{all_courses | safe}})
	});
	
	
	});
	{% endif %}
</script>

<div class="jumbotron">
	{% if user_courses %}<h1 style="text-align: center;">Your Classes</h1><br/>{% endif %}
	{% for course in user_courses: %}
		<h3 style="text-align: center;">{{course.course}}</h3>
		<h4 style="text-align: center;">{{course.teacher}}</h4>
		<form method="post" action="/delete_class" style="text-align:center;"><input type="hidden" name="course" value="{{course.course}}"><input type="submit" class="btn btn-small btn-danger" value="Delete Class"></form>
		<br>
		<div class="row">
			<div class="col-md-3">Mods Monday: {{course.mods_monday}}</div>
			<div class="col-md-3">Mods Tuesday: {{course.mods_tuesday}}</div>
			<div class="col-md-3">Mods Wednesday: {{course.mods_wed}}</div>
		</div>
		<div class="row">
			<div class="col-md-3">Mods Thursday: {{course.mods_thursday}}</div>
			<div class="col-md-3">Mods Friday: {{course.mods_friday}}</div>
			<div class="col-md-3">&nbsp;</div>
		</div>
		<hr/>
	{% else %}
		<h3 style="text-align: center;">No classes found. Add a class below.</h3>
		<hr/>
	{% endfor %}
	<br/><br/>
	<h1 style="text-align: center;">{% if user_courses %}Add classes{% else %}Enter your schedule{% endif %}</h1>
	<form method="post">
		<br/><br/>
		<div id="classes">
			<div class="row" >
				<div class="col-md-6 col-xs-6" style="text-align: right;">Enter course name</div>
				<div class="col-md-6 col-xs-6"><input type="text" name="course" class="coursename typeahead" placeholder="English 1 (H)" data-toggle="tooltip" data-placement="top" data-html="true" autocomplete="off" data-provider="typeahead" data-original-title="Enter course name <strong><i>exactly</i></strong> as on your schedule"></div>
			</div>
			<div class="row"> 
				<div class="col-md-6 col-xs-6" style="text-align: right;">Enter teacher name</div>
				<div class="col-md-6 col-xs-6"><input type="text" class="teachername" name="teacher" placeholder="Dr.Borowski" autocomplete="off" data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title="Enter the teacher of the course"></div>
			</div>
			<br>
			<div class="row"  style="text-align: center;">
				<div class="col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">Monday</div>
				<div class="col-md-2 col-xs-2">Tuesday</div>
				<div class="col-md-2 col-xs-2">Wednesday</div>
				<div class="col-md-2 col-xs-2">Thursday</div>
				<div class="col-md-2 col-xs-2">Friday</div>
			</div>
			<div class="row"  style="text-align: center;">
				<div class="col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><input type="text" style="width:80px;" data-toggle="tooltip" autocomplete="off" data-placement="bottom"  data-original-title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="monday"></div>
				<div class="col-md-2 col-xs-2"><input type="text" style="width:80px;" data-toggle="tooltip" autocomplete="off" data-placement="bottom"  data-original-title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="tuesday"></div>
				<div class="col-md-2 col-xs-2"><input type="text" style="width:80px;" data-toggle="tooltip" autocomplete="off" data-placement="bottom"  data-original-title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="wednesday"></div>
				<div class="col-md-2 col-xs-2"><input type="text" style="width:80px;" data-toggle="tooltip" autocomplete="off" data-placement="bottom"  data-original-title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="thursday"></div>
				<div class="col-md-2 col-xs-2"><input type="text" style="width:80px;" data-toggle="tooltip" autocomplete="off" data-placement="bottom"  data-original-title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="friday"></div>
			</div>
		</div>
		<br/>
		<div style="text-align: center;"><a class="btn" onclick="addClass();">+ Add another class</a></div>
		<br/>
		<div style="text-align: center;">
			<input class="btn btn-success btn-large" type="submit" value="Save">
		</div>
	</form>
</div>
{% endblock %}
{% block script %}
var number = 1;
function addClass() {
	number += 1;
	$('#classes').append('\
		<hr/>\
		<div class="row"> \
			<div class="col-md-6" style="text-align: right;">Enter course name</div>\
			<div class="col-md-6"><input type="text" class="coursename" name="courseq" placeholder="United States History 1 (CPE)" autocomplete="off" data-toggle="tooltip" data-placement="top" data-html="true"  title="Enter course name <strong><i>exactly</i></strong> as on your schedule"></div>\
		</div>\
		<div class="row"> \
			<div class="col-md-6" style="text-align: right;">Enter teacher name</div>\
			<div class="col-md-6"><input type="text" class="teachername" name="teacherq" placeholder="Mr.Madden" autocomplete="off" data-toggle="tooltip" data-placement="top" data-html="true"  title="Enter the teacher of the course"></div>\
		</div>\
		<div class="row">\
				<div class="col-md-2 col-md-offset-1">Monday</div>\
				<div class="col-md-2">Tuesday</div>\
				<div class="col-md-2">Wednesday</div>\
				<div class="col-md-2">Thursday</div>\
				<div class="col-md-2">Friday</div>\
			</div>\
			<div class="row">\
				<div class="col-md-2 col-md-offset-1"><input type="text" style="width:80px;" name="mondayq" data-toggle="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" autocomplete="off" data-html="true" ></div>\
				<div class="col-md-2"><input type="text" style="width:80px;" name="tuesdayq" data-toggle="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" autocomplete="off" data-html="true" ></div>\
				<div class="col-md-2"><input type="text" style="width:80px;" name="wednesdayq" data-toggle="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" autocomplete="off" data-html="true" ></div>\
				<div class="col-md-2"><input type="text" style="width:80px;" name="thursdayq" data-toggle="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" autocomplete="off" data-html="true" ></div>\
				<div class="col-md-2"><input type="text" style="width:80px;" name="fridayq" data-toggle="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" autocomplete="off" data-html="true" ></div>\
			</div>\
	'.replace(new RegExp('[q]', 'g'), number));
	return false;
}
{% endblock %}