{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block content %}
<script type="text/javascript">
	{% if all_courses %}
	$(document).ready(function(){
	
	var substringMatcher = function(strs) {
	  return function findMatches(q, cb) {
		var matches, substringRegex;
	 
		// an array that will be populated with substring matches
		matches = [];
	 
		// regex used to determine if a string contains the substring `q`
		substrRegex = new RegExp(q, 'i');
	 
		// iterate through the pool of strings and for any string that
		// contains the substring `q`, add it to the `matches` array
		$.each(strs, function(i, str) {
		  if (substrRegex.test(str)) {
			// the typeahead jQuery plugin expects suggestions to a
			// JavaScript object, refer to typeahead docs for more info
			matches.push({ value: str });
		  }
		});
	 
		cb(matches);
	  };
	};
	$('.coursename').typeahead('destroy').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 1
	},
	{
	  name: 'states',
	  displayKey: 'value',
	  source: substringMatcher({{all_courses | safe}})
	});
	
	
	});
	{% endif %}
</script>

<div class="jumbotron">
	{% if user_courses %}<h1 style="text-align: center;">Your Classes</h1><br/>{% endif %}
	{% for course in user_courses: %}
		<h3 style="text-align: center;">{{course.course_vague_name}} [{{course.course}}]</h3>
		<h4 style="text-align: center;">{{course.teacher}}</h4>
		<form method="post" action="/delete_class" style="text-align:center;"><input type="hidden" name="course" value="{{course.course}}"><input type="submit" class="btn btn-small btn-danger" value="Delete Class"></form>
		<br>
		<div class="row" style="text-align: center;">
			<div class="col-md-2 col-md-offset-4 col-xs-2 col-xs-offset-4">A Day: {{course.dayA}}</div>
			<div class="col-md-2 col-xs-2">B Day: {{course.dayB}}</div>
		</div>
		<hr/>
	{% else %}
		<h3 style="text-align: center;">No classes found. Add a class below.</h3>
		<hr/>
	{% endfor %}
	<br/><br/>
	<h1 style="text-align: center;">{% if user_courses %}Add classes{% else %}Enter your schedule{% endif %}</h1>
	<form method="post">
		<br/><br/>
		<div id="classes">
			<div class="row" >
				<div class="col-md-6 col-xs-6" style="text-align: right;">Enter course ID <a href="#" onClick="MyWindow=window.open('http://i.imgur.com/kfEXUAJ.png','What is Course ID','width=464,height=150'); return false;">(?)</a></div>
				<div class="col-md-6 col-xs-6"><input type="text" name="course" class="coursename typeahead" placeholder="ENG3_C/5" data-toggle="tooltip" data-placement="right" data-html="true" autocomplete="off" data-provider="typeahead" data-original-title="Enter COURSE/SEC <strong><i>exactly</i></strong> as on your schedule"></div>
			</div>
			<div class="row" >
				<div class="col-md-6 col-xs-6" style="text-align: right;">Enter course name</div>
				<div class="col-md-6 col-xs-6"><input type="text" name="vaguename" class="coursename" placeholder="English 3 (CPE)" data-toggle="tooltip" data-placement="right" data-html="true" autocomplete="off" data-original-title="Enter course name"></div>
			</div>
			<div class="row"> 
				<div class="col-md-6 col-xs-6" style="text-align: right;">Enter teacher name</div>
				<div class="col-md-6 col-xs-6"><input type="text" class="teachername" name="teacher" placeholder="Dr.Borowski" autocomplete="off" data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="Enter the teacher of the course"></div>
			</div>
			<br>
			<div class="row"  style="text-align: center;">
				<div class="col-md-2 col-md-offset-4 col-xs-2 col-xs-offset-4">A day</div>
				<div class="col-md-2 col-xs-2">B day</div>
			</div>
			<div class="row"  style="text-align: center;">
				<div class="col-md-2 col-md-offset-4 col-xs-2 col-xs-offset-4"><input type="text" style="width:80px;" data-toggle="tooltip" autocomplete="off" data-placement="bottom"  data-original-title="Example: 1-2</br>This has to be <strong><i>exact</i></strong></br>Leave one blank if you have half day" data-html="true" name="Aday"></div>
				<div class="col-md-2 col-xs-2"><input type="text" style="width:80px;" data-toggle="tooltip" autocomplete="off" data-placement="bottom"  data-original-title="Example: 1-2</br>This has to be <strong><i>exact</i></strong></br>Leave one blank if you have half day" data-html="true" name="Bday"></div>
			</div>
		</div>
		<br/>
		<div style="text-align: center;"><a class="btn" onclick="addClass();">+ Add another class</a></div>
		<br/>
		<div style="text-align: center;">
			<input class="btn btn-success btn-large" type="submit" value="Save">
		</div>
	</form>
</div>
{% endblock %}
{% block script %}
var number = 1;
function addClass() {
	number += 1;
	$('#classes').append('\
		<hr/>\
		<div class="row" >\
			<div class="col-md-6 col-xs-6" style="text-align: right;">Enter course ID <a href="#" onClick="MyWindow=window.open(\'http://i.imgur.com/kfEXUAJ.png\',\'What is Course ID\',\'width=464,height=150\'); return false;">(?)</a></div>\
			<div class="col-md-6 col-xs-6"><input type="text" name="courseq" class="coursename typeahead" placeholder="ENG3_C/5" data-toggle="tooltip" data-placement="right" data-html="true" autocomplete="off" data-provider="typeahead" data-original-title="Enter COURSE/SEC <strong><i>exactly</i></strong> as on your schedule"></div>\
		</div>\
		<div class="row" >\
			<div class="col-md-6 col-xs-6" style="text-align: right;">Enter course name</div>\
			<div class="col-md-6 col-xs-6"><input type="text" name="vaguenameq" class="coursename" placeholder="English 3 (CPE)" data-toggle="tooltip" data-placement="right" data-html="true" autocomplete="off" data-original-title="Enter course name"></div>\
		</div>\
		<div class="row">\
			<div class="col-md-6 col-xs-6" style="text-align: right;">Enter teacher name</div>\
			<div class="col-md-6 col-xs-6"><input type="text" class="teachername" name="teacheq" placeholder="Dr.Borowski" autocomplete="off" data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="Enter the teacher of the course"></div>\
		</div>\
		<br>\
		<div class="row"  style="text-align: center;">\
			<div class="col-md-2 col-md-offset-4 col-xs-2 col-xs-offset-4">A day</div>\
			<div class="col-md-2 col-xs-2">B day</div>\
		</div>\
		<div class="row"  style="text-align: center;">\
			<div class="col-md-2 col-md-offset-4 col-xs-2 col-xs-offset-4"><input type="text" style="width:80px;" data-toggle="tooltip" autocomplete="off" data-placement="bottom"  data-original-title="Example: 1-2</br>This has to be <strong><i>exact</i></strong></br>Leave one blank if you have half day" data-html="true" name="Adayq"></div>\
			<div class="col-md-2 col-xs-2"><input type="text" style="width:80px;" data-toggle="tooltip" autocomplete="off" data-placement="bottom"  data-original-title="Example: 1-2</br>This has to be <strong><i>exact</i></strong></br>Leave one blank if you have half day" data-html="true" name="Bdayq"></div>\
		</div>\
        '.replace(new RegExp('[q]', 'g'), number));
	return false;
}
{% endblock %}