<!doctype html>
<html><head></head><body>{% extends "base.html" %}
{% block title %}Signin{% endblock %}
{% block content %}
<div class="jumbotron" style="text-align: center;">
	<h1>Sign In</h1>
	<hr>
	<form method="post">
		<div class="row">
			<div class="col-sm-4 col-lg-4" style="text-align:right;">Email</div>
			<div class="col-sm-6 col-lg-6" style="text-align:left;">
				<div class="input-append">
					<input type="text" name="email" placeholder="jongseung.lim">
					<span class="add-on">@student.rih.org</span>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-4 col-lg-4" style="text-align:right;">Password</div>
			<div class="col-sm-6 col-lg-6" style="text-align:left;"><input type="password" name="password"></div>
		</div>
		<br>
		<input type="submit" class="btn btn-success btn-large">
	</form>
</div>
{% endblock %}</body></html>